@use './radius' as radius;
@use './spacing' as spacing;
@use "../colors/colors" as colors;
@mixin primary-text-large{
    @include radius.redius_sm;
    padding: spacing.$spacing-s spacing.$spacing-l;
    background-color: colors.$primary_300;
}

@mixin primary-text-small{
    @include radius.redius_sm;
    padding: spacing.$spacing-xs spacing.$spacing-m;
    background-color: colors.$primary_300;
} 

@mixin neutral-text-large{
    @include radius.redius_sm;
    padding: spacing.$spacing-s spacing.$spacing-l;
    background-color: colors.$neutral_900;
} 