@use "reset" as *;
@use "./pages/home.scss" as *;



body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;

}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}