/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style-type: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

*,*:before,*:after {
    box-sizing: border-box;
}


.Info {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
}

.circle_mask {
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0; /* 防止圖片外框被flex排版擠壓變形 */
}

.circle_mask img {
    width: 250%;
    height: 250%;
    transform: translate(-32% , -20%);
    object-fit: cover;
    display: block;
}

.Info h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.Info h2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b37f56;
}

.Info p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

@media(max-width:768px) {
    .Info{
        flex-direction: column;
    }
    .Info_context h1,h2 {
        text-align: center;
    }
}


.skills {
    width: 100%;
    background-color: #835f51;
    padding-top: 20px;
    padding-bottom: 15px; /* skills_context有設margin-bottom(5px) */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.skills_Title {
    width: 70%;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.skills_context {
    width: 60%;
    margin-left: 50%;
    padding-left: 10px;
    border-left: 1px solid white;
}

.skills_context li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.work {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content:space-evenly;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.work_Title {
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #835f51;
    line-height: 1.2;
}

.work_Context {
    display: flex;
    flex-direction: column;
}

.work_02_Year,.work_01_Year {
    font-weight: bold;
}

.work_02 , .work_01 {
    padding-left: 10px;
    margin-bottom: 20px;
    display: flex;
}

.work_02_info, .work_01_info{
    padding-left: 10px;
    margin-left: 10px;
    border-left: 2px solid #835f51;
}

.work_02_company, .work_01_company {
    font-weight: bold;
}

.work_02_position h1, .work_01_position h1 {
    margin-bottom: 5px;
    margin-top: 10px;
}

.work_02_position ul, .work_01_position ul {
    margin-left: 18px;
    list-style-type: disc;
    line-height: 1.5;
}


@media(max-width:768px){
    .work{
        flex-direction: column;
        width: 70%;
    }
    .work_Title{
        margin-bottom: 40px;
        text-align: center;
        border-bottom: 1px solid #835f51;
    }
    .work_Context{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}


.project_Title {
    width: 70%;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #835f51;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #835f51;
}

.project_context {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    align-items: stretch;
}

.project_01 , .project_02 {
    margin-top: 40px;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_01_img, .project_02_img {
    width: 60%;
    height: auto;
    z-index: 10;
}

.project_01_img img, .project_02_img img{
    width: 100%;
    height: auto;
}


.project_01_text , .project_02_text {
    background-color: #dfd7d3;
    padding: 20px;
    padding-top: 30%;
    margin-top: -25%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.project_01_text h1,.project_02_text h1 {
    font-weight: bold;
    color: #835f51;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.project_01_text ul,.project_02_text ul {
    padding-left: 30px;
    padding-right: 30px;
    list-style-type: disc;
    font-size: 16px;
} 

.project_01_text a,.project_02_text a {
    margin-top: 10px;
    display: block;
    padding: 10px;
    background-color: #835f51;
    color: white;
    font-size: 16px;
    text-align: center;
    min-height: fit-content;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-decoration: none;
}

.project_01_text a:hover,.project_02_text a:hover {
    background-color: #b37f56;
}

@media(max-width:1024px){
        .project_context{
        flex-direction: column;
        width: 70%;
        align-items: center;
    }
    .project_01,.project_02 {
        width: fit-content;
    }
}

@media(max-width:768px) {
    .project_context{
        flex-direction: column;
        width: 70%;
        align-items: center;
    }
    .project_01,.project_02 {
        width: fit-content;
    }
}


.footer {
    background: #835f51;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_Title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer_context {
    line-height: 1.5;
}

.Icon {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
