$danger_100: #FCF1F1;
$danger_200: #EBA7A7;
$danger_300: #D74F4F;
$warning_100: #FEF6EC;
$warning_200: #F9C588;
$warning_300: #F38B12;
$success_100: #EFF8F4;
$success_200: #9AD1BA;
$success_300: #36A375;
$info_100: #EEF5FC;
$info_200: #97C3ED;
$info_300: #3087DB;