$neutral_0: #FFFFFF;
$neutral_100: #F8F9FA;
$neutral_200: #E9ECEF;
$neutral_300: #DEE2E6;
$neutral_400: #CED4DA;
$neutral_500: #ADB5BD;
$neutral_600: #6C757D;
$neutral_700: #495057;
$neutral_800: #343A40;
$neutral_900: #212529;