@use "../layout//layout" as layout;
@use "../font/font" as font;
@use "../colors/colors" as colors;

p,
a {
    font-family: font.$unified_font;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: layout.$spacing-m 312px;

    @media(max-width: layout.$breakpoint_mobile) {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @include layout.p-0;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: layout.$spacing-3xl;

        @media(max-width: layout.$breakpoint_mobile) {
            justify-content: flex-start;
            @include layout.p-8-12;
            width: 50%;
        }

        .items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: layout.$spacing-2xl;

            a {
                color: colors.$text_primary;
            }

            @media(max-width: layout.$breakpoint_mobile) {
                display: none;
            }

            .item {
                padding: layout.$spacing-s 0;
                @include font.label_md;
                font-weight: 500;
            }
        }
    }

    .user {
        @media(max-width: layout.$breakpoint_mobile) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 50%;
        }
    }

    .mobile-items {
        display: none;

        @media(max-width: layout.$breakpoint_mobile) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .item-product {
                width: 50%;
                background-color: colors.$primary_200;
                padding: layout.$spacing-s layout.$spacing-l;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .item-brand {
                width: 50%;
                background-color: colors.$primary_100;
                padding: layout.$spacing-s layout.$spacing-l;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a {
                color: colors.$text_primary;
            }
        }
    }
}

.banner {
    overflow: hidden;
    max-height: 800px;
    position: relative;

    @media(max-width:layout.$breakpoint_mobile) {
        height: 60vh;
        max-height: 480px;
    }

    .banner-bg {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 800px;
    }

    .ad {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: layout.$spacing-3xl;

        .ad-title {
            display: flex;
            flex-direction: column;
            gap: layout.$spacing-m;

            h1 {
                @include font.display_1;
                color: colors.$text_dark;

                @media(max-width:layout.$breakpoint_mobile) {
                    @include font.display_2;
                }
            }

            h3 {
                @include font.headings_h3;
                color: colors.$text_dark;

                @media(max-width:layout.$breakpoint_mobile) {
                    @include font.headings_h5;
                }
            }
        }

        .ad-btn {
            background-color: #fff;
            max-width: 115px;
            @include layout.primary-text-large;
            @include font.label_md;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: layout.$spacing-xs;

            a {
                color: colors.$text_primary;
            }
        }
    }
}

.newArrival {
    width: 100%;
    max-width: 1296px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include layout.m-0-auto;
    gap: layout.$spacing-s;
    padding: layout.$spacing-5xl 0;

    @media(max-width: layout.$breakpoint_mobile) {
        max-width: 351px;
    }

    .new-title {
        text-align: center;

        h2 {
            @include font.display_2;
            color: colors.$text_primary;
            font-weight: 700;

            @media(max-width: layout.$breakpoint_mobile) {
                @include font.headings_h2;
            }
        }

        h3 {
            @include font.headings_h2;
            color: colors.$text_primary;
            font-weight: 700;

            @media(max-width: layout.$breakpoint_mobile) {
                @include font.headings_h4;
            }
        }
    }

    .new-items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: layout.$spacing-s;

        .new-item {
            img {
                max-width: 636px;

                @media(max-width: layout.$breakpoint_mobile) {
                    max-width: 169px;
                }
            }


            .new-item-title {
                @include font.headings_h5;
                font-weight: 700;

                @media(max-width: layout.$breakpoint_mobile) {
                    @include font.headings_h6;
                }
            }

            .new-item-price {
                font-weight: 500;
                @include font.label_md;
            }
        }
    }
}

.hot {
    width: 100%;
    max-width: 1296px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    @include layout.m-0-auto;
    gap: layout.$spacing-m;
    padding: layout.$spacing-5xl 0;

    @media(max-width: layout.$breakpoint_mobile) {
        padding: layout.$spacing-2xl layout.$spacing-s;
    }

    .hot-title {
        @include font.headings_h2;
        font-weight: 700;
        color: colors.$text_primary;

        @media(max-width: layout.$breakpoint_mobile) {
            @include font.headings_h4;
        }
    }

    .hot-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: layout.$spacing-l;

        @media(max-width: layout.$breakpoint_mobile) {
            width: 100vw;
            justify-content: flex-start;
            overflow-x: scroll;
            overflow-y: hidden;
            gap: layout.$spacing-m;
        }

        .hot-item {
            position: relative;
            width: 100%;
            max-width: 306px;

            @media(max-width: layout.$breakpoint_mobile) {
                width: 260px;
                flex-shrink: 0;
            }

            .hot-tag {
                position: absolute;
                top: 0;
                background-color: colors.$primary_100;
                padding: layout.$spacing-xs layout.$spacing-s;
                color: colors.$text_highlight;

                .hot-tag-text {
                    @include font.label_sm;
                    font-weight: 500;
                }
            }
        }
    }
}

.coop {
    position: relative;
    height: 100vh; // 加上高度
    max-height: 566px;

    .coop-spark {
        position: absolute;
        bottom: 20%;
        right: 25%;
        transform: translate(-20%, -25%);

        @media(max-width: layout.$breakpoint_mobile) {
            right: 0;
            transform: translateY(0);
        }
    }

    .coop-star {
        position: absolute;
        z-index: 2;
        top: 15%;
        left: 25%;
        transform: translate(-15% -25%);

        @media(max-width: layout.$breakpoint_mobile) {
            top: 5%;
            left: -5%;
            transform: translate(-5%, 5%);
        }
    }

    .coop-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
        z-index: -1;
    }

    .coop-ad {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        gap: layout.$spacing-6xl;

        .coop-title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: layout.$spacing-3xl;

            @media(max-width: layout.$breakpoint_mobile) {
                gap: layout.$spacing-xl;
            }

            .coop-title-slogan {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: layout.$spacing-xl;

                @media(max-width: layout.$breakpoint_mobile) {
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }

                .slogan-brand {
                    @include font.display_2;
                    color: colors.$text_dark;

                    @media(max-width: layout.$breakpoint_mobile) {
                        @include font.headings_h2;
                    }
                }

                .slogan-x {
                    width: 100%;
                    max-width: 24px;
                    height: 24px;
                    object-fit: cover;

                    @media(max-width: layout.$breakpoint_mobile) {
                        width: 100%;
                        max-width: 16px;
                        height: 16px;
                    }
                }

                .slogan-kevin {
                    @include font.display_2;
                    color: colors.$text_dark;

                    @media(max-width: layout.$breakpoint_mobile) {
                        @include font.headings_h2;
                    }
                }
            }

            .coop-title-second {
                @include font.headings_h2;
                color: colors.$text_dark;

                @media(max-width: layout.$breakpoint_mobile) {
                    @include font.headings_h5;
                }
            }

            .coop-title-desc {
                @include font.paragraph_lg;
                color: colors.$text_meted;

                @media(max-width: layout.$breakpoint_mobile) {
                    @include font.paragraph_md;
                }
            }

            .coop-btn {
                @include layout.primary-text-small;

                a {
                    @include font.label_md;
                    font-weight: 500;
                    color: colors.$text_primary;
                }
            }
        }
    }

    .coop-indicators {
        position: absolute;
        bottom: 00%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
}

.series {
    width: 100%;
    max-width: 1296px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    @include layout.m-0-auto;
    gap: layout.$spacing-m;
    padding: layout.$spacing-5xl 0;

    @media(max-width: layout.$breakpoint_mobile) {
        justify-content: center;
        padding: layout.$spacing-2xl layout.$spacing-s;
    }

    .series-title {
        @include font.headings_h2;
        font-weight: 700;
        color: colors.$text_primary;

        @media(max-width: layout.$breakpoint_mobile) {
            @include font.headings_h4;
        }
    }

    .series-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: layout.$spacing-l;
        white-space: nowrap;

        @media(max-width: layout.$breakpoint_mobile) {
            justify-content: center;
            flex-wrap: wrap;
        }

        .series-item {
            position: relative;
            width: 100%;
            max-width: 306px;

            @media(max-width: layout.$breakpoint_mobile) {
                max-width: 169px;
            }

            &::before {
                content: '';
                position: absolute;
                inset: 0; // 等於 top:0; right:0; bottom:0; left:0;
                background: rgba(0, 0, 0, 0.4);
                z-index: 1;
            }

            .series-tag {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .series-tag-text {
                    @include font.headings_h3;
                    color: colors.$text_dark;

                    @media(max-width: layout.$breakpoint_mobile) {
                        @include font.headings_h6;
                    }
                }

                .series-tag-chtext {
                    @include font.headings_h4;
                    color: colors.$text_dark;

                    @media(max-width: layout.$breakpoint_mobile) {
                        @include font.headings_h6;
                    }
                }
            }
        }
    }
}