@use "../layout//layout" as layout;
@use "../font/font" as font;
@use "../colors/colors" as colors;

p,
a {
    font-family: font.$unified_font;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: layout.$spacing-m 312px;
    flex-wrap: nowrap;

    @media(max-width: layout.$breakpoint_mobile) {
        padding: layout.$spacing-s;
        @include layout.p-0;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: layout.$spacing-3xl;

        @media(max-width: layout.$breakpoint_mobile) {
            justify-content: flex-start;
            @include layout.p-8-12;
            width: 50%;
        }

        .items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: layout.$spacing-2xl;

            a {
                color: colors.$text_primary;
            }

            @media(max-width: layout.$breakpoint_mobile) {
                display: none;
            }

            .item {
                padding: layout.$spacing-s 0;
                @include font.label_md;
                font-weight: 500;
            }

            @media(max-width: layout.$breakpoint_mobile) {
                display: none;
            }

        }
    }

    .user {
        @media(max-width: layout.$breakpoint_mobile) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 50%;
        }
    }
}

.section {
    width: 100%;
    max-width: 1296px;
    @include layout.m-0-auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: layout.$spacing-xl 312px;
    gap: layout.$spacing-l;

    @media(max-width: layout.$breakpoint_mobile) {
        padding: layout.$spacing-m layout.$spacing-s;
        gap: layout.$spacing-s;
        max-width: 375px;
    }

    .path {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: layout.$spacing-s;

        @media(max-width: layout.$breakpoint_mobile) {
            gap: layout.$spacing-xs;
        }

        .divider {
            color: colors.$neutral_300;
        }

        .pre-point {
            @include font.label_md;
            color: colors.$text_secondary;

            @media(max-width: layout.$breakpoint_mobile) {
                @include font.label_sm;
            }
        }

        .current-point {
            @include font.label_md;
            color: colors.$text_primary;

            @media(max-width: layout.$breakpoint_mobile) {
                @include font.label_sm;
            }
        }
    }
}

.category {
    @include font.headings_h3;
    color: colors.$text_primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;

    @media(max-width: layout.$breakpoint_mobile) {
        @include font.headings_h4;
    }
}

.product-items {
    display: flex;
    gap: layout.$spacing-l;

    .select {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: layout.$spacing-m;
        white-space: nowrap;

        ul {
            li {
                @include font.label_md;
                color: colors.$text_primary;
                padding: layout.$spacing-s 0;
            }
        }

        @media(max-width: layout.$breakpoint_mobile) {
            display: none;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: layout.$spacing-3xl;

        @media(max-width: layout.$breakpoint_mobile) {
            gap: layout.$spacing-xl;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: layout.$spacing-l;

            .card {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: layout.$spacing-s;
                width: 100%;
                max-width: 340px;

                @media(max-width: layout.$breakpoint_mobile) {
                    max-width: 170px;
                    gap: layout.$spacing-xs;
                }

                img {

                    object-fit: cover;
                }

                .card-title {
                    @include font.headings_h6;
                    font-weight: 700;
                    color: colors.$text_primary;
                }

                .card-price {
                    @include font.label_md;
                    color: colors.$text_primary;
                }
            }
        }

        .pagnation {
            display: flex;
            gap: layout.$spacing-s;
            justify-content: center;
            align-items: center;

            .switch-pre-tab,
            .switch-next-tab {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: layout.$spacing-xs;
                padding: layout.$spacing-xs;
                opacity: 0.4;
            }

            .total-page {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: layout.$spacing-xs;
                font-weight: 500;
                color: colors.$text_primary;

                .single-page {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: layout.$spacing-xs;
                }
            }
        }
    }
}

.coupon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$primary_200;
    gap: layout.$spacing-l;
    padding: layout.$spacing-l;

    .coupon-title {
        @include font.headings_h4;

        @media(max-width: layout.$breakpoint_mobile) {
            @include font.headings_h5;
        }
    }

    .coupon-btn {
        @include layout.neutral-text-large;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: layout.$spacing-xs;

        a {
            @include font.label_md;
            color: colors.$text_dark;
        }
    }

}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: layout.$spacing-5xl 312px;
    gap: layout.$spacing-l;

    @media(max-width: layout.$breakpoint_mobile) {
        padding: layout.$spacing-xl layout.$spacing-s;
        gap: layout.$spacing-l;
    }

    .footer-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1296px;

        @media(max-width: layout.$breakpoint_mobile) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: layout.$spacing-xs;
            max-width: 351px;
        }

        .footer-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: layout.$spacing-2xl;

            @media(max-width: layout.$breakpoint_mobile) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: layout.$spacing-s layout.$spacing-s;
                gap: layout.$spacing-xxs;
            }

            a {
                @include font.label_md;
                color: colors.$text_primary;
            }
        }
    }

    .footer-copyRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1296px;
        padding-top: layout.$spacing-xl;
        border-top: 1px solid colors.$neutral_300;

        p {
            @include font.paragraph_sm;
            color: colors.$text_secondary;
        }

        @media(max-width: layout.$breakpoint_mobile) {
            max-width: 351px;
        }

    }
}