@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
p,
a {
  font-family: "Noto Sans TC";
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 312px;
  flex-wrap: nowrap;
}
@media (max-width: 1470px) {
  .header {
    padding: 16px 64px;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 12px;
    padding: 0;
  }
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
}
@media (max-width: 576px) {
  .header .menu {
    justify-content: flex-start;
    padding: 8px 12px;
    width: 50%;
  }
}
.header .menu .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header .menu .items a {
  color: #212529;
}
@media (max-width: 576px) {
  .header .menu .items {
    display: none;
  }
}
.header .menu .items .item {
  padding: 12px 0;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 5%;
  font-weight: 500;
}
@media (max-width: 576px) {
  .header .menu .items {
    display: none;
  }
}
@media (max-width: 576px) {
  .header .user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
  }
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
  max-width: 1920px;
  height: auto;
  max-height: 400px;
  z-index: -1;
}
@media (max-width: 576px) {
  .banner img {
    max-height: 240px;
  }
}
.banner .banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  gap: 16px;
  transform: translate(-50%, -50%);
}
.banner .banner-title h1 {
  font-size: 40px;
  line-height: 120%;
  font-weight: 700;
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .banner .banner-title h1 {
    font-size: 28px;
    line-height: 120%;
  }
}
.banner .banner-title h3 {
  font-size: 28px;
  line-height: 120%;
  font-weight: 700;
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .banner .banner-title h3 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 5%;
  }
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 64px 312px;
}
@media (max-width: 576px) {
  .article {
    padding: 24px;
    gap: 12px;
  }
}
.article .article-tempo {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #F5FEE7;
  text-align: center;
}
.article .article-tempo h5 {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 5%;
  font-weight: 700;
  color: #57A203;
}
.article .article-tempo .tempo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.article .article-tempo .tempo-content p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 5%;
  font-weight: 400;
  color: #212529;
}
.article .article-brand {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
@media (max-width: 576px) {
  .article .article-brand {
    max-width: 351px;
    gap: 16px;
  }
}
.article .article-brand h4 {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 5%;
  color: #212529;
  font-weight: 700;
}
.article .article-brand .brand-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 48px;
  border-bottom: 1px solid #DEE2E6;
}
@media (max-width: 576px) {
  .article .article-brand .brand-intro {
    padding-bottom: 32px;
    gap: 12px;
  }
}
.article .article-brand .brand-intro h5 {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 5%;
  color: #57A203;
  font-weight: 700;
}
.article .article-brand .brand-intro .intro-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.article .article-brand .brand-intro .intro-content p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 5%;
  color: #212529;
  font-weight: 400;
}
.article .article-brand .brand-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #DEE2E6;
  gap: 24px;
  width: 864px;
}
@media (max-width: 576px) {
  .article .article-brand .brand-history {
    max-width: 351px;
    gap: 16px;
  }
}
.article .article-brand .brand-history ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 24px;
  gap: 12px;
  list-style-type: disc;
}
.article .article-brand .brand-history ul li {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 5%;
  color: #212529;
}
.article .article-brand .brand-concept {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 0;
  border-bottom: 1px solid #DEE2E6;
  gap: 24px;
  width: 864px;
}
@media (max-width: 576px) {
  .article .article-brand .brand-concept {
    max-width: 351px;
    gap: 16px;
  }
}
.article .article-brand .brand-concept .concept-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 12px;
  gap: 12px;
  border-left: 3px solid #DEE2E6;
}
.article .article-brand .brand-concept .concept-text p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 5%;
  color: #212529;
}
.article .article-brand .brand-short-story {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #DEE2E6;
  padding: 24px 0;
  gap: 24px;
  width: 864px;
}
@media (max-width: 576px) {
  .article .article-brand .brand-short-story {
    gap: 16px;
    max-width: 351px;
  }
}
.article .article-brand .brand-short-story .story-links {
  padding-bottom: 48px;
}
.article .article-brand .brand-short-story .story-links .single-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
}
.article .article-brand .brand-short-story .story-links .single-link a {
  color: #57A203;
  text-decoration: underline;
}

.coupon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8FEC5;
  gap: 24px;
  padding: 24px;
}
.coupon .coupon-title {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 5%;
}
@media (max-width: 576px) {
  .coupon .coupon-title {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 5%;
  }
}
.coupon .coupon-btn {
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.coupon .coupon-btn a {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 5%;
  color: #FFFFFF;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 64px 312px;
  gap: 24px;
}
@media (max-width: 1470px) {
  .footer {
    padding: 64px 64px;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 32px 12px;
    gap: 24px;
  }
}
.footer .footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1296px;
}
@media (max-width: 576px) {
  .footer .footer-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    max-width: 351px;
  }
}
.footer .footer-menu .footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media (max-width: 576px) {
  .footer .footer-menu .footer-items {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px 12px;
    gap: 4px;
  }
}
.footer .footer-menu .footer-items a {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 5%;
  color: #212529;
}
.footer .footer-copyRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1296px;
  padding-top: 32px;
  border-top: 1px solid #DEE2E6;
}
.footer .footer-copyRight p {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 5%;
  color: #6C757D;
}
@media (max-width: 576px) {
  .footer .footer-copyRight {
    max-width: 351px;
  }
}/*# sourceMappingURL=story.css.map */